
@{
    ViewBag.Title = "getCategories";
}

<h2>getCategories</h2>

<table class="table-bordered">
    <tr>
        <th>category_id</th>
        <th>name</th>
        <th>last_update</th>
    </tr>

    @foreach (var item in ViewBag.List)
    {
        <tr>
            <td>@item.category_id</td>
            <td>@item.name</td>
            <td>@item.last_update</td>
        </tr>
    }
</table>
}